* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}

p {
  color: #aea5e3;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.9rem;
}

h1 {
  color: #ff8a00;
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  color: #aea5e3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  font-weight: 350;
  text-transform: uppercase;
}

h3 {
  color: #aea5e3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  font-weight: 550;
  text-transform: uppercase;
  margin: 20px;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #132405;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #132405;
  font-family: "Noto Sans", sans-serif;
}
ul {
  list-style: none;
}

/* LOGO mobil */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#logo {
  padding: 15px;
  max-width: 390px;
  width: 100%;
  margin-top: 10px;
}

/* LOGO computer */

/*HEADER*/
li {
  list-style: none;
}

.nav_item a {
  color: #132405;
  text-decoration: none;
  font-size: 20px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  /* margin-top: 20px; */
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-right: 50px;
  padding: 60px;
  padding-bottom: 400%;
}

.nav_branding {
  margin-left: 20px;
}

.nav_link {
  transition: 0.7s ease;
}

.nav_link:hover {
  color: #3f793a;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #aea5e3;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav_menu {
    position: absolute;
    left: -100%;
    top: 130px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    height: 33%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    background-color: #aea5e3;
  }

  .nav_item {
    margin: 16px 0;
  }

  .nav_menu.active {
    left: 0;
  }
}

/*FORSIDE*/

body {
  background-color: #132405;
}

.button {
  padding: 60px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
  color: #132405;
  background-color: #40793e;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  border-radius: 3px;
  /* margin-top: 3px; */
}

.button:hover {
  color: #132405;
  background-color: #ff8a00;
  cursor: pointer;
}

/*FOOTER*/

footer {
  background-color: #aea5e3;
}

.logo_footer {
  display: flex;
  flex-direction: row;
  max-width: 230px;
  padding: 25px;
  padding-right: 20px;
  padding-bottom: 14px;
  margin-left: auto;
}

footer menu {
  margin: 35px;
  margin-bottom: 20px;
  margin-top: 30px;
}
footer menu h4 {
  margin-bottom: 10px;
}
footer menu li {
  list-style: disc;
  margin-left: 10px;
}

span {
  display: block;
  max-width: 1300px;
  height: 3px;
  background-color: #ff8a00;
  margin: 30px;
}

.span_footer {
  background-color: #132405;
  margin: 20px;
  margin-top: 0;
}

.some {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  padding-bottom: 20px;
  margin: 20px;
  margin-bottom: 0;
}
.some img {
  max-width: 48px;
}

@media (min-width: 800px) {
  footer menu {
    margin: 65px;
    margin-bottom: 25px;
    margin-top: 38px;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #aea5e3;
    margin-top: 20px;
  }

  #logo {
    grid-column: 1;
  }

  .navbar {
    grid-column: 2/4;
  }

  span {
    margin: 75px;
    margin-top: 0;
  }

  button {
    margin-bottom: 50px;
  }
}
