* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}

p {
  color: #aea5e3;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
}

h1 {
  color: #ff8a00;
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
}

h2 {
  color: #aea5e3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  font-weight: 350;
  text-transform: uppercase;
}

h3 {
  color: #aea5e3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  font-weight: 550;
  text-transform: uppercase;
  margin: 20px;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #132405;
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

/* LOGO mobil */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#logo {
  padding: 15px;
  max-width: 390px;
  width: 100%;
}

/* LOGO computer */
@media (min-width: 800px) {
  header {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/*FORSIDE*/

body {
  background-color: #132405;
}

.button {
  padding: 60px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
  color: #132405;
  background-color: #40793e;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  border-radius: 3px;
  /* margin-top: 3px; */
}

.button:hover {
  color: #132405;
  background-color: #ff8a00;
}

/*FOOTER*/

footer {
  background-color: #aea5e3;
}

.logo_footer {
  display: flex;
  flex-direction: row;
  max-width: 230px;
  padding: 25px;
  padding-right: 20px;
  padding-bottom: 14px;
  margin-left: auto;
}

footer menu {
  margin: 35px;
  margin-bottom: 20px;
  margin-top: 30px;
}
footer menu h4 {
  margin-bottom: 10px;
}
footer menu li {
  list-style: disc;
  margin-left: 10px;
}

span {
  display: block;
  max-width: 1300px;
  height: 3px;
  background-color: #ff8a00;
  margin: 30px;
}

.span_footer {
  background-color: #132405;
  margin: 20px;
  margin-top: 0;
}

.some {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  padding-bottom: 20px;
  margin: 20px;
  margin-bottom: 0;
}
.some img {
  max-width: 48px;
}

/* Burgermenu */

header {
  margin: auto;
}

.burgerbar {
  display: block;
  width: 30px;
  height: 3.5px;
  margin: 8px;
  background-color: #40793e;
  border-radius: 3px;
  position: relative;
  z-index: 20;
}
/* .hamburger {
} */

.hamburger.active .burgerbar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .burgerbar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .burgerbar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 800px) {
  footer menu {
    margin: 65px;
    margin-bottom: 25px;
    margin-top: 38px;
  }

  span {
    margin: 75px;
    margin-top: 0;
  }

  button {
    margin-bottom: 50px;
  }
}
