/* LOGO mobil på index.html*/
#logo {
  padding: 35px;
  max-width: 600px;
}

/* MENU på index.html */
#index_menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
}

#index_menu img {
  max-width: 150px;
  max-height: 150px;
}

#index_menu h2 {
  margin-left: 20px;
  font-size: 24px;
  padding-top: 50px;
}
