/* LOGO mobil på index.html*/
#logo {
  padding: 35px;
  max-width: 600px;
}

/* MENU på index.html */
#index_menu ul {
  display: flex;
  flex-direction: column;
  align-items: left;
}
#index_menu li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
}
#index_menu img {
  max-width: 150px;
  max-height: 150px;
}
#index_menu h2 {
  margin-left: 18px;
  font-size: 24px;
  padding-top: 50px;
}

/* button article */
span {
  display: block;
  max-width: 1300px;
  height: 3px;
  background-color: #ff8a00;
  margin: 30px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

article:last-child {
  margin-bottom: 100px;
}

h3 {
  color: #aea5e3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  font-weight: 550;
  text-transform: uppercase;
  margin: 20px;
}

button {
  padding: 60px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
  color: #132405;
  background-color: #ff8a00;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  border-radius: 3px;
  /* margin-top: 3px; */
}

button:hover {
}

@media (min-width: 800px) {
  #index_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 90px;
    gap: 50px;
  }
  #index_menu h2 {
    display: none;
  }

  #index_menu li {
    position: relative;
  }

  #index_menu li:hover h2 {
    display: block;
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translateY(-110%);
    padding: 0;
    margin: 0;
    color: #ff8a00;
  }
}
