.mushrooms_headline {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* -------- PRODUKTLISTE ------------ */
.product_article {
  position: relative;
  background-color: #132405;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.produkt_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.produkt_image_container {
  background-color: rgb(221, 233, 238);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}

.produkt_image {
  max-width: 100%;
  height: 250px;
}

/* ---- Produktliste grid ------ */
.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
  gap: 3.2rem;
}
