h3 {
  color: #ff8a00;
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  font-weight: 550;
  text-transform: uppercase;
  margin: 20px;
}

.product_headline {
  text-align: center;
  margin-top: 50px;
}

.img_product {
  margin-left: 20px;
  margin-right: 20px;
}

.description {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.info_product {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.illustrations {
  position: relative;
}

.svamp1_container {
  position: absolute;
  width: 32%;
  aspect-ratio: 79/75;
  top: -1%;
  left: 0%;
  transform: translateY(-240%);
}

.svamp1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(billeder/svamp1.svg);
  background-size: cover;
}

.svamp2_container {
  position: absolute;
  width: 22%;
  aspect-ratio: 17/15;
  top: -1%;
  left: 72%;
  transform: translateY(-170%);
}

.svamp2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(billeder/svamp2.svg);
  background-size: cover;
}

.svamp3_container {
  position: absolute;
  width: 24%;
  aspect-ratio: 62/75;
  top: -1%;
  left: 75%;
  transform: translateY(70%);
}

.svamp3_sprite {
  width: 100%;
  height: 100%;
  background-image: url(billeder/svamp3.svg);
  background-size: cover;
}

.othermushrooms {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.grid_mushrooms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.mushroom_1,
.mushroom_2 {
  margin-bottom: 10px;
}

/*DESKTOP*/
@media (min-width: 768px) {
}
