h4 {
  color: #ff8a00;
}

footer h4 {
  color: #132405;
}

#logo {
  padding: 15px;
  max-width: 390px;
}

#index_menu img {
  max-width: 90px;
  max-height: 90px;
}

.file-input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
}

.custom-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #132405;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.radio_seasons {
  display: flex;
  flex-direction: column;
}

.form_grid {
  display: grid;
}
